<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RainHUDHelper.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RainHUDHelper.My.MySettings>
            <setting name="cPath" serializeAs="String">
                <value> C:\Program Files\steam\steamapps\common\Team Fortress 2\tf\custom</value>
            </setting>
            <setting name="HealthCustomColorCB_Checked" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="DWCustomColorCB_Checked" serializeAs="String">
                <value>Unchecked</value>
            </setting>
        </RainHUDHelper.My.MySettings>
    </userSettings>
</configuration>